@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";
@function --m3-density(--size) {
  result: var(--size);
}
:root {
  color-scheme: light dark;
}
@layer tokens {
  :root {
    --m3c-surface: light-dark(#f9faf2, #0c0f0b);
    --m3c-surface-container-lowest: light-dark(#fff, #000);
    --m3c-surface-container-low: light-dark(#f2f5eb, #11140f);
    --m3c-surface-container: light-dark(#ebefe4, #161b14);
    --m3c-surface-container-high: light-dark(#e5eade, #1c2119);
    --m3c-surface-container-highest: light-dark(#dee5d7, #21271f);
    --m3c-on-surface: light-dark(#2e342b, #e1e8da);
    --m3c-on-surface-variant: light-dark(#5b6156, #a7ada0);
    --m3c-outline: light-dark(#767d71, #71776c);
    --m3c-outline-variant: light-dark(#aeb4a7, #434a40);
    --m3c-inverse-surface: light-dark(#0c0f0b, #f9faf2);
    --m3c-inverse-on-surface: light-dark(#9b9e97, #535650);
    --m3c-primary: light-dark(#45683b, #b1cfa4);
    --m3c-on-primary: light-dark(#ebffdf, #2d4626);
    --m3c-primary-container: light-dark(#c5eeb6, #3f5937);
    --m3c-on-primary-container: light-dark(#385a2f, #cdecbf);
    --m3c-inverse-primary: light-dark(#cbf4bb, #4b6642);
    --m3c-secondary: light-dark(#54634e, #bbcbb2);
    --m3c-on-secondary: light-dark(#edfee2, #364431);
    --m3c-secondary-container: light-dark(#d7e8cd, #313f2c);
    --m3c-on-secondary-container: light-dark(#475641, #b4c4ab);
    --m3c-tertiary: light-dark(#62612b, #fffcc6);
    --m3c-on-tertiary: light-dark(#fffcbc, #62612b);
    --m3c-tertiary-container: light-dark(#f7f4af, #f1eeaa);
    --m3c-on-tertiary-container: light-dark(#5d5c27, #5a5924);
    --m3c-error: light-dark(#a73b21, #f97758);
    --m3c-on-error: light-dark(#fff7f6, #450900);
    --m3c-error-container: light-dark(#fd795a, #85230a);
    --m3c-on-error-container: light-dark(#6e1400, #ff9b82);
    --m3c-shadow: #000;
    --m3c-scrim: #000;
    --m3c-on-on-primary: light-dark(#45673b, #b0cfa3);
    --m3c-primary-container-subtle: light-dark(#bde5ae, #193213);
    --m3c-on-primary-container-subtle: light-dark(#33552a, #96b38a);
    --m3c-secondary-container-subtle: light-dark(#cedfc4, #22301e);
    --m3c-on-secondary-container-subtle: light-dark(#42513c, #a0b097);
    --m3c-tertiary-container-subtle: light-dark(#e0dd9a, #2e2e00);
    --m3c-on-tertiary-container-subtle: light-dark(#504f1b, #b0ae70);
    --m3c-error-container-subtle: light-dark(#ffcfc4, #5a0e00);
    --m3c-on-error-container-subtle: light-dark(#8e2910, #ff8a6e);
  }
}

body {
  font-family: "Gabarito", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
